<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c6a8efcc043c4ba58498ee56c4158d64 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c6a8efcc043c4ba58498ee56c4158d64" ></div>
        
</body>
<script>    
    
            var map_c6a8efcc043c4ba58498ee56c4158d64 = L.map(
                "map_c6a8efcc043c4ba58498ee56c4158d64",
                {
                    center: [12.927038333333334, 77.63879666666666],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ed6acd695f194e30885fa71c34f87286 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c6a8efcc043c4ba58498ee56c4158d64);
        
    
            var circle_marker_583eee6afc68444d8d37cb2ff7520553 = L.circleMarker(
                [12.927038333333334, 77.63879666666666],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_c6a8efcc043c4ba58498ee56c4158d64);
        
    
        var popup_aa450a09953542e1b9668dde1d66edb5 = L.popup({"maxWidth": "100%"});

        
            var html_1da0f16d751443c7bd61b7abf1a9b039 = $(`<div id="html_1da0f16d751443c7bd61b7abf1a9b039" style="width: 100.0%; height: 100.0%;">vehicle-No:001 Time:02:00:31</div>`)[0];
            popup_aa450a09953542e1b9668dde1d66edb5.setContent(html_1da0f16d751443c7bd61b7abf1a9b039);
        

        circle_marker_583eee6afc68444d8d37cb2ff7520553.bindPopup(popup_aa450a09953542e1b9668dde1d66edb5)
        ;

        
    
    
            var marker_a61902dc9c6d41cab542013413586723 = L.marker(
                [12.927038333333334, 77.63879666666666],
                {"radius": 50}
            ).addTo(map_c6a8efcc043c4ba58498ee56c4158d64);
        
    
        var popup_b5107de7d0d543dfb9a15afd4346b26a = L.popup({"maxWidth": "100%"});

        
            var html_fd4061d455224da5a4330167bce492b0 = $(`<div id="html_fd4061d455224da5a4330167bce492b0" style="width: 100.0%; height: 100.0%;">vehicle-No:001 Time:02:00:31</div>`)[0];
            popup_b5107de7d0d543dfb9a15afd4346b26a.setContent(html_fd4061d455224da5a4330167bce492b0);
        

        marker_a61902dc9c6d41cab542013413586723.bindPopup(popup_b5107de7d0d543dfb9a15afd4346b26a)
        ;

        
    
</script>